@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', 'Arial';
    border-top: 1px solid rgba(0, 255, 255, 0.18);
}

a {
    color: #00ffff;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1111115e;
    backdrop-filter: blur(7px);
    padding: 10px 0;
    width: 100%;
    z-index: -5;
    height: 50px;
}

.footer a {
    margin-left: 15px;
}

.footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1111115e;
    backdrop-filter: blur(7px);
    padding: 10px 0;
    width: 100%;
    z-index: -5;
    height: auto;
    flex-wrap: wrap;
}

.footer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1111115e;
    backdrop-filter: blur(7px);
    padding: 10px 0;
    width: 100%;
    z-index: -5;
    height: auto;
    flex-wrap: wrap;
}

#sociallink {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#sociallink img {
    transition: 0.2s ease-in-out;
    height: 40px;
}

#sociallink img:hover {
    transform: scale(1.25);
}