@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 10px;
    padding: 0px;
    font-family: 'Montserrat';
    background-color: #000000;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, table {
    color: #00ffff;
    text-align: center;
    font-weight: normal;
}

p {
    color: #00ffff;
    margin: 0;
    text-align: center;
}

a {
    color: #00ffff;
    text-decoration: none;
    text-align: center;
}

.homepage {
    margin: 5px 0;
}

#click {
    text-decoration: underline;
}